<!DOCTYPE html>
<html>
  <head>
    <title>IrcLogViewer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
  </head>
  <body>
    <%- body %>
	<script src="/bootstrap/js/jquery.js"></script>
	<script src="/bootstrap/js/bootstrap-collapse.js"></script>
	<script>$(".nav-collapse").collapse();</script>
  </body>
</html>
